.info-container {
  margin-top: 12.5%;
}

:root {
  --black: #000;
  --white: #fff;
  --primaryColor: #40196d;
  --offWhite: #f9f9f9;
}

.kudainfo5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.info5-left {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.info5-left-wrap {
  max-width: 420px;
}

.info5-left-wrap h1 {
  color: var(--primaryColor);
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.38;
}

.info5-left-wrap p {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
  max-width: 350px;
}

.info5-left-wrap a {
  cursor: pointer;
  display: inline-flex !important;
  font-weight: 700;
  margin-top: 26px;
  text-decoration: underline;
}

.open-acc {
  display: inline-flex;
}

.arrow-right-icon {
  margin-left: 10px;
  margin-top: 2px;
}

.info5-right {
  width: 55%;
}

.kuda-info5-img {
  display: flex;
  justify-content: center;
}
