.info-container {
  margin-top: 12.5%;
}

:root {
  --black: #000;
  --white: #fff;
  --primaryColor: #40196d;
  --offWhite: #f9f9f9;
}

.kudainfo1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.info1-left {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.info1-left-wrap {
  max-width: 420px;
}

.info1-left-wrap h1 {
  color: var(--primaryColor);
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.38;
}

.info1-left-wrap p {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
  max-width: 350px;
}

.info1-left-wrap a {
  cursor: pointer;
  display: inline-flex !important;
  font-weight: 700;
  margin-top: 26px;
  text-decoration: underline;
}

.open-acc {
  display: inline-flex;
}

.arrow-right-icon {
  margin-left: 10px;
  margin-top: 2px;
}

.info1-right {
  width: 55%;
}

.kuda-info-img {
  display: flex;
  justify-content: center;
}

/* @media (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
  .hero-main-container {
    display: flex;
    min-height: 635px;
  }

  .hero-main-container > div {
    width: 100%;
  }
}

@media (min-width: 992px) {
}

@media only screen and (min-width: 768px) and (max-width: 1440px) and (max-height: 798px) {
  .hero-main-container {
    min-height: 555px;
  }

  .hero-left {
    width: 48%;
  }

  .hero-right {
    width: 52%;
  }
  .hero-left-wrap {
    max-width: 396px;
  }
} */
